//- index.pug
doctype html
html
  head
    title lav dance acadmy
    style
      include ../static/style.css
    script
      include ../static/index.js
  body
   nav#navbar
        ul
            div#logo
               img(src="/static/images/logo.png")
               | HDA
            li #[a(href="/home" target="_blank") Home]
            li #[a(href="/") About] 
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact" target="_blank") Contact Us]
   div.box
      span#time 
   section#introSection
      div  Welcome to Lav's Dance Academy
      div.small  Eat Sleep Dance Repeat
   section#missionSection
      h2 Our Mission
      div.card
         h3 Dance Perfection
         div.card-box
            div.card-img
               img(src="/static/images/1.png")
            div.card-content
               p This is the only acadamy with all fascilities.
         

      div.card
         h3 Dance the Way U Like
         div.card-box
            div.card-img
               img(src="/static/images/2.png")
            div.card-content
               p This is the only acadamy with all fascilities.
 
      div.card
         h3 Teaching Perfection
         div.card-box
            div.card-img
               img(src="/static/images/3.png")
            div.card-content
               p This is the only acadamy with all fascilities. 
   section#sponsersSection
      h2 Our Sponsers
      div#sponsers
         img(src="/static/images/5.png", alt="Sponsers image", class="spImage")
         img(src="/static/images/6.png", alt="Sponsers image", class="spImage")
         img(src="/static/images/7.png", alt="Sponsers image", class="spImage")
         img(src="/static/images/8.png", alt="Sponsers image", class="spImage")
   footer#footer
      | Copyright © 2020 lavdanceacademy.com | All rights reserved
    
       

//-    section#sponsersSection
//-       | sponsers are here
        

//-    footer#footer
//-       | footer here
    
    
                    