@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 80vh;
    margin-top: 31px;
}
h1{
    color: black;
    text-align: center;
    margin: 11px 0;
    font-family: 'Lobster';
    font-size: 31px;
    
}
.myForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 31px; */
}
.myInput{
   outline: none;
    margin: 7px;
    padding: 7px;
    font-size: 9px;
    border: 2px solid rgba(253, 127, 127, 0.534);
    border-radius: 7px;
    width: 45%;
    font-family: 'Noto Serif';
}
.btn{
    background-color: rgb(223, 68, 68);
    border: 2px solid black;
    color: white;
    cursor: pointer;
    padding: 5px 13px;
    font-size: 10px;
    border-radius: 11px;
    outline: none;
    margin-top: 7px;
}